@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url(fonts/Courier-New-Regular.ttf);
}
@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url(fonts/Courier-New-Bold.ttf);
}